<h1>Your Donations</h1>

<table>
  <tr>
    <th>Student Id</th>
    <th>Student Name</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% donations.each do |donation| %>
  <tr>
    <td><%= donation.student_id %></td>
    <% @sel_students = Student.find_all_by_id(donation.student_id) %>
    <% for sel_student in @sel_students %>
    <td><%= sel_student.name %></td>
    <% end %>
    <td><%= donation.amount %></td>
    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

