<!DOCTYPE html>
<html>
<head>
  <title>Student Donor and Donations | <%= controller.action_name %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<ul class="green">
    <li><a href="http://evening-earth-128.heroku.com" title="home" class="current"><span>Home</span></a></li>
	<li><a href="http://evening-earth-128.heroku.com/students" title="students"><span>Students</span></a></li>
    <li><a href="http://evening-earth-128.heroku.com/donors" title="donors"><span>Donors</span></a></li>
    <li><a href="http://evening-earth-128.heroku.com/donations" title="donations"><span>All Donations</span></a></li>
    <li><a href="#" title="contact"><span>Contact</span></a></li>
</ul>
<br/><br/><br/>
<%= yield %>

</body>
</html>
